.rot-3 .p-1 {
  top: 10%;
  left: 80%;
}

.rot-3 .a-1 {
  top: 10%;
  left: 45%;
}

.rot-3 .c-1 {
  top: 10%;
  left: 10%;
}

.rot-3 .p-2 {
  top: 60%;
  left: 10%;
}

.rot-3 .a-2 {
  top: 60%;
  left: 45%;
}

.rot-3 .c-2 {
  top: 60%;
  left: 80%;
}

 /*Hover */
.rot-3:hover .p-1 {
  top: 0%;
  left: 75%;
}

.rot-3:hover .a-1 {
  top: 25%;
  left: 10%;
}

.rot-3:hover .c-1 {
  top: 5%;
  left: 5%;
}

.rot-3:hover .p-2 {
  top: 50%;
  left: 30%;
}

.rot-3:hover .a-2 {
  top: 55%;
  left: 55%;
}

.rot-3:hover .c-2 {
  top: 50%;
  left: 80%;
}
